@{
    var bikeStations = ViewBag.bikeStations;
}

<div class="container">
    <div class="text-center">
        <h1 class="display-4">Bike Stations</h1>
        <p>Voir mon <a href="https://docs.microsoft.com/aspnet/core">projet Github</a>.</p>

        
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nom</th>
                <th scope="col">Vélos disponibles</th>
                <th scope="col">Adresse</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bikeStation in bikeStations)
            {
                <tr>
                    <th scope="row">@bikeStation.name</th>
                    <td>@bikeStation.available_bikes</td>
                    <td>@bikeStation.address</td>
                </tr>
            }
        </tbody>
    </table>
        
    </div>
</div>
